html {
    text-align: center;
    font-family: "Lexend Mega", sans-seif;
    width: 100%;
}

li {
    list-style: none;
    padding-right: 8rem;
    margin-bottom: 1.75rem;
    font-size: 1.06rem;
}

header {
    font-size: 21px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.banner {
    background-image: url('resources/pipe-a-WQTwsgq_mxg-unsplash.jpg');
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
}

.banner h2 {
    margin-bottom: 0;
    padding-bottom: 0.95rem;
}

h2 {
    font-size: 1.85rem;
    background-color: white;
    padding-bottom: 0;
    background-size: cover;
    padding-top: 2rem;
}

h5 {
    font-size: 1.35rem;
    background-color: white;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 3rem;
}

/* Gallery */
.galleries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.gallery {
    display: flex;
}

.galleries img {
    height: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    flex-basis: auto;
}

.gallery span {
    padding: 5px;
    min-width: 240px;
    text-align: center;
    font-weight: bold;
    flex-basis: auto;
    margin-top: 2.8rem;
    font-size: 1.35rem;
}

.our-team h2 {
    text-align: center;
    margin: 0.6rem;
    font-size: 1.85rem;
}

.team {
    background-image: url('resources/pexels-joshua-humphrey-698590.jpg');
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3.5rem;
}

.team img {
    height: auto;
    width: 190px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-wrap: wrap;
}

.team-member {
    flex-basis: 280px;
    flex-wrap: wrap;
    flex-shrink: 5;
    margin-left: auto;
    margin-right: auto;
}

.team p {
    color: white;
    padding-top: 0;
    margin-top: 0;
    font-size: 1.135rem;
}

h6 {
    font-size: 1.35rem;
    margin-top:2rem;
    margin-bottom: 0;
}

@media only screen and (max-width: 1367px) {
    .menu {
        justify-content: center;
        flex-wrap: auto;
        flex-basis: auto;
    }

    .banner {
        width: m;
        height: 300px;
    }

    .team {
        width: 100%;
        height: 400px;
    }

    .team-member {
        flex-wrap: auto;
    }
}

